<app-header></app-header>
<!-- <app-login></app-login>
<app-signup></app-signup> -->
<h1>Pass Data Parent to Child Component</h1>

<div *ngFor="let project of projectInfo">
    <app-users [project]="project"></app-users>
</div>

<!-- <section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>
    <button mat-button color="warn">Warn</button>
    <button mat-button disabled>Disabled</button>
    <a mat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>

<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<section>
  <div>
    <mat-slider aria-label="unit(s)"></mat-slider>
  </div>
</section>
<section>
  <div>
    <mat-slider
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="1000"
  step="1000"
  min="0"
  max="100000"
  aria-label="units"></mat-slider>
  </div>
</section> -->

<app-footer></app-footer>